header{
    background: var(--color1);
    background: -moz-linear-gradient(top,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(top,  var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to bottom,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2), GradientType=0 );    
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#logo1{
    padding: 20px;
    max-width: 150px;
}
#company-name{
    font-weight: 600;
}
#client{
    align-items: flex-end;
}
#client_text *{
    text-align: end;
}
.cons_item{
    position: relative;
    display: flex;
    flex-direction: column;
}
.cons_item::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: calc(50% - 50px);
    height: 5px;
    width: 100px;
    background: var(--color1);
}
.dk_circle{
    font-size: 25px;
}
.dk_more{
    color: var(--color2);
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    #company-name{
        margin-bottom: 2rem;
    }
    #client_text *{
        text-align: center;
    }
    #client{
        align-items: center;
    }
}