:root {
    --color1: #30E3CA;
    --color2: #11999E;
    --color3: #E4F9F5;
    --color4: #c5e0da;
    --color5: #40514E;
}
.bg1{
    background: var(--color1);
}
.bg2{
    background: var(--color2);
}
.bg3{
    background: var(--color3);
}
.bg4{
    background: var(--color4);
}
.bg5{
    background: var(--color5);
}
.dk_color1{
    color: var(--color1);
}
.dk_color2{
    color: var(--color2);
}
.dk_color3{
    color: var(--color3);
}
.dk_color4{
    color: var(--color4);
}
.dk_color5{
    color: var(--color5);
}
nav {
    padding: 40px 0;
    background: var(--color1);
    box-shadow: 0px 0.3px 10px #000;
}
#chat{
    position: fixed;
    z-index: 1000;
    font-size: 60px;
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    box-shadow: 3px 3px 10px #40514E;
    transition: 0.2s ease-in-out;
}
#chat:hover{
    cursor: pointer;
    width: 110px;
    height: 110px;
}
#chat > .icon-chat::before{
    margin: 20px;
}
header, section{
    padding: 70px 0;
}
header{
    padding-top: 100px;
}
footer{
    background: var(--color5);
    padding: 5vh 0;
}
a.dk_color2:hover{
    color: #187ba8;
}